.filter-container {
  width: 500px;
  height: 50px;
  background-color: gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-input {
  width: 100px;
  height: 25px;
}

.filter-select {
  width: 100px;
  height: 25px;
}
