.contacts-title {
  width: 500px;
  text-align: center;
}
.contacts-header {
  width: 500px;
  height: 50px;
  background-color: red;
  display: flex;
  justify-content:space-around;
}
.contacts-container {
  width: 500px;
  height: 500px;
  background-color: orange;
}
